.root {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 0 30px 0 20px;
  background-color: #f8f6f4;
  width: 20%;
}

.upper_section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.user_image {
}
.user_image > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  font-size: 24px;
  font-weight: 700;
}
.user_id {
  font-size: 18px;
  font-weight: 500;
}
.user_id > span:first-child {
  color: rgb(39, 228, 39);
}
.login_btn {
  text-align: center;
  padding: 10px;
  border: 1px solid #0556be;
  color: #0556be;
  font-weight: 600;
  cursor: pointer;
}

/* Middle Section */
.middle_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 300px; */
  margin-top: auto;
  margin-bottom: auto;
}
.middle_section > div {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-radius: 5px;
}
.middle_section > div > svg {
  margin-right: 8px;
}
.middle_section > div > div {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

/* End Section */
.end_section {
  margin-top: auto;
  margin-bottom: 30px;
}
.end_section > div {
  display: flex;
  align-items: center;
}
.end_section > div > svg {
  margin-right: 8px;
}
